<br />
<div style="margin: auto; width: 400px">
  <!-- <div *ngIf="!status">
    <h4 style="color: red">You are not Logged In</h4>
  </div>
  <div *ngIf="status"> -->
  <h4 style="color: red">Are you sure to Logout?</h4>

  <input
    style="display: inline-block"
    id="b1"
    class="btn btn-danger btn-sm"
    type="button"
    value="Logout"
    (click)="onLogout()"
  />
  &nbsp;&nbsp;
  <input
    style="display: inline-block"
    id="b2"
    class="btn btn-success btn-sm"
    type="button"
    value="Cancel"
    (click)="onCancel()"
  />
</div>
<!-- </div> -->
