<p>welcome works!</p>
<img
  src="./assets/images/img_avatar1.png"
  [width]="200"
  [height]="200"
  alt="Card image"
/>
<table class="table table-success table-striped">
  <thead>
    <tr>
      <th>SNo</th>
      <th>Name</th>
      <th>City</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Sharad</td>
      <td>New Delhi</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Aman</td>
      <td>Hyderabad</td>
    </tr>
    <tr>
      <td>1</td>
      <td>Sharad</td>
      <td>New Delhi</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Aman</td>
      <td>Hyderabad</td>
    </tr>
  </tbody>
</table>

<br />
<button (click)="TryToastr()">Trying toastr messages</button>
<br />

<mat-slide-toggle>Toggle me!</mat-slide-toggle>
<br />

<mat-icon
  aria-hidden="false"
  aria-label="Example home icon"
  fontIcon="home"
></mat-icon>

<mat-icon
  aria-hidden="false"
  aria-label="Example home icon"
  fontIcon="delete"
></mat-icon>

<mat-icon
  aria-hidden="false"
  aria-label="Example home icon"
  fontIcon="save"
></mat-icon>

<mat-icon
  aria-hidden="false"
  aria-label="Example home icon"
  fontIcon="login"
></mat-icon>

<mat-icon
  aria-hidden="false"
  aria-label="Example home icon"
  fontIcon="logout"
></mat-icon>

<mat-icon
  aria-hidden="false"
  aria-label="Example home icon"
  fontIcon="timer"
></mat-icon>

<mat-icon aria-hidden="false" matBadge="5" matBadgeColor="accent"
  >checklist</mat-icon
>
